* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 72px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.logo {
  margin-right: 59px;
}

.menu-button {
  padding: 0;
  height: 17px;
  width: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 28px;
  cursor: pointer;
}
.menu-button:focus,
.menu-button:active {
  outline: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  display: block;
  background-color: #1f2022;
  border-radius: 20px;
}

.input-group .input-search:focus,
.input-group .input-search:active {
  outline: none;
}

.input-group {
  background-color: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  max-width: 830px;
  width: 50%;
  margin-right: 40px;
}
.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}

.button-search {
  border: none;
  width: 19px;
  height: 19px;
  cursor: pointer;
  background-color: transparent;
}

.button-search:focus,
.button-search:active {
  outline: none;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icon-search {
  fill: #000;
}

.icons-link {
  opacity: 0.24;
  text-decoration: none;
}

.icons-link:hover {
  opacity: 0.7;
  fill: #ff0000;
}
.icons-link:not(:last-child) {
  margin-right: 50px;
}
.user {
  margin-left: 45px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar {
  padding-left: 32px;
  position: fixed;
  left: 0;
  top: 114px;
  height: calc(100% - 114px);
  width: 200px;
  overflow-y: auto;
  background-color: #fff;
}

.content {
  width: 100%;
  height: 400px;
  margin-top: 85px;
  padding-left: 250px;
  padding-top: 30px;
  padding-right: 30px;
  background-color: #fff;
}

.nav-menu {
  margin-top: 0;
  padding-bottom: 60px;
  padding-left: 0;
  list-style: none;
}
.nav-item {
  margin-bottom: 28px;
}

.nav__item .icon {
  fill: #898989;
}

.nav-text {
  margin-left: 13px;
}
.nav-link {
  text-decoration: none;
  align-items: center;
  display: flex;
  color: #898989;
}
.nav-link:hover {
  color: #ff0000;
  fill: #ff0000;
}

.nav__link:hover .icon {
  fill: #ff0000;
}

.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.nav-items {
  margin-bottom: 23px;
}

.nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.channel {
  position: relative;
  margin-bottom: 50px;
}

.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.channel-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
}
.channel-text,
.recommendation-text {
  margin-left: 20px;
}

.video-thumb {
  width: 100%;
  height: 150px;
  position: relative;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 3px 9px;
}
.video-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
}
.video-counter {
  display: flex;
}
.video-info {
  padding: 0;
  display: flex;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  justify-content: space-between;
  color: #c2c2c2;
}
.video-views {
  margin-right: 5px;
}
.video-views:after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.channel-button {
  cursor: pointer;
}

.channel-button-prev:focus,
.channel-button-prev:active {
  outline: none;
}

.channel-button-next:focus,
.channel-button-next:active {
  outline: none;
}

.slider-buttons {
  position: absolute;
  right: 10%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  fill: #ffffff;
  width: 66px;
}

.slider-buttons1 {
  position: absolute;
  right: 10%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  fill: #ffffff;
  width: 66px;
}

.recommended-button-prev:focus,
.recommended-button-prev:active {
  outline: none;
}

.recommended-button-next:focus,
.recommended-button-next:active {
  outline: none;
}

.slider-buttons2 {
  position: absolute;
  right: 10%;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  fill: #ffffff;
  width: 66px;
}


.subscribe-button:focus,
.subscribe-button:active {
  outline: none;
}


.recommendation-button-prev:focus,
.recommendation-button-prev:active {
  outline: none;
}

.recommendation-button-next:focus,
.recommendation-button-next:active {
  outline: none;
}

.recommended {
  position: relative;
  margin-bottom: 50px;
}

.rec-video-thumb {
  width: 100%;
  height: 250px;
  position: relative;
}

.recommendation {
  position: relative;
}
.recommendation-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.recommendation-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
}
.title-discription {
  font-size: 16px;
  line-height: 20px;
  color: #c2c2c2;
  margin-bottom: 30px;
  margin-left: 15px;
}
.recommendation-for-you {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.subscribe-button {
  color: #fff;
  background-color: red;
  border-radius: 20px;
  width: 155px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  margin-right: 40px;
  right: 16%;
  top: 5px;
  border: none;
  cursor: pointer;
}
.mobile-sidebar {
  display: none;
}
.mobile-search {
  display: none;
}

@media (max-width: 860px) {
  .icons {
    display: none;
  }
  .user {
    margin-left: auto;
  }
}

@media (max-width: 640px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .logo {
    padding-left: 16px;
  }
  .content {
    padding-top: 0;
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .slider-buttons {
    display: none;
  }
  .swiper-slide {
    margin-bottom: 40px;
  }
  .video-thumb {
    height: 300px;
  }
  .menu-button {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
  }
  .mobile-sidebar .nav-link {
    display: flex;
    flex-direction: column;
  }
  .mobile-sidebar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    padding-bottom: 11px;
    padding-top: 13px;
    border-top: 1px solid #f1f1f1;
  }
  .nav-text {
    margin-left: 0;
    font-size: 10px;
    line-height: 13px;
  }
  .nav-item {
    margin-bottom: 0;
  }
  .mobile-search {
    display: block;
    margin-left: auto;
  }
  .input-group {
    position: fixed;
    left: 0;
    top: -100px;
    opacity: 0;
    width: 80%;
    margin: auto;
    margin-left: 25px;
    transition: top 0.25s;
  }
  .user {
    margin-left: 20px;
  }
  .input-group.is-open {
    opacity: 1;
    top: 20px;
  }
  .recommendation-for-you {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
}
@media (max-width: 400px) {
  .video-thumb {
    height: 200px;
  }
  .subscribe-button {
    width: 100px;
    height: 25px;
    font-size: 12px;
    right: 0;
    top: 15px;
  }
  .recommendation-title {
    margin-bottom: 10px;
  }
  .recommendation-text {
    font-size: 18px;
  }
  .title-discription {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .video-title {
    margin-bottom: 5px;
  }
}
